extends layout

block content

  .menu
    h2 Menu
    ul.nav.nav-pills
      li
        a(href='/') Home
      li.active
        a(href='/todos') Todo List
      li
        a(href="/todos/completed") Completed
  h1= title

  .list
    
    .item.add-todo
      form(action='/todos', method='post')
        input(type='hidden', value=locals._csrf, name='_csrf')
        div.name
          input(type='text', name='name', placeholder='Add a new todo')
        div.add
          input.btn.btn-primary.btn-sm(type="submit", value='Add')
    
    if (todos.length === 0)
      | No todos.
    
    each todo, index in todos
      .item
        
        div.num
          span=index+1
            |.&nbsp;
        
        div.name
          span.name=todo.name + ' (Created at: ' + moment(todo.createTime).format("YYYY/MM/DD") + ')'

        div.action
          form(action='/todos/#{todo._id}', method='post')
            input(type='hidden', value=todo._id.toString(), name='id')
            input(type='hidden', value='true', name='completed')
            input(type='hidden', value=locals._csrf, name='_csrf')
            input(type='submit', class='btn btn-success btn-xs todo-done', value='Done')

        div.delete
          form(method='POST', action='/todos/#{todo._id}?_method=DELETE')
            button(type='submit') Delete